<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Menu</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
<div class="container">
    <a href="/auth/logout" class="back-button"><span>&#8592;</span></a>
    <div class="menu-container">
        <a href="/info" class="menu-button">Personal Information</a>
        <a href="/rules" class="menu-button">Rules</a>
        <a href="/parking" class="menu-button">Parking</a>
    </div>
</div>
</body>
</html>